
# White listing
*
!basic_games/
basic_games/*
!basic_games/games/
basic_games/games/*
!basic_games/games/game_dao.py
!basic_games/games/dao_game/
!basic_games/games/dao_game/*.*
!basic_games/games/dao_game/DAO_FOMOD/
!basic_games/games/dao_game/DAO_FOMOD/*
!basic_games/games/dao_game/DAO_FOMOD/*/checksum
!basic_games/games/dao_game/DAO_FOMOD/*/info.xml
!basic_games/games/dao_game/DAO_FOMOD/*/ModuleConfig.xml
!dao_plugins/
!dao_plugins/*.*
!dao_tools/
!dao_tools/*
!.github/
!.github/workflows/
!.github/workflows/*.*
!.gitignore
!pyproject.toml
!CHANGELOG.md
!LICENSE
!README.md
!VERSION